# ---- OS / editor ----
.DS_Store
.vscode/
__pycache__/
*.pyc

# ---- environments ----
.venv/
venv/
env/

# ---- data ----
*.zip
*.7z

# ignore everything in data folders...
data/raw-data/*
data/derived-data/*

# ...but keep the folder structure
!data/raw-data/.gitkeep
!data/derived-data/.gitkeep